{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-1 bg-black text-light vh-100">
            <div class="row ">
                <div class="col">
                pic
                </div>
                <div class="col mb-3">
                PFP
                </div>
            </div>
            <div class="row ">
                <hr>
            </div>
            <div class="row ">
                <div class="col">
                pic
                </div>
                <div class="col">
                    Lists
                </div>
                
            </div>
            <div class="row ">
                <div class="col">
                pic
                </div>
                <div class="col">
                Tags
                </div>
                
            </div>
            <div class="row ">
                <div class="col">
                pic
                </div>
                <div class="col">
                Completed
                </div>
                
            </div>
            <div class="row ">
                <div class="col">
                pic
                </div>
                <div class="col">
                Calendar view
                </div>
                
            </div>
        </div>
        <div class="col-8 bg-danger text-black vh-100">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                 </div>
            </div>
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                 </div>
            </div>
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                 </div>
            </div>
        </div>
        <div class="col-3 bg-info text-black vh-100">
        
        </div>
    </div>
</div>
      

{% endblock %}
